
        <table class="table table-hover">
            <thead class="row">
                <tr>
                                    <th class="col-md-3">
                    Id (anonymized)
                </th>
                <th class="col-md-3">
                    Recurring
                </th>
                <th class="col-md-3">
                    Confidence rate
                </th>
                <th class="col-md-3">
                    Criticity
                </th>
                <th>Actions 1</th>
                                <th>Actions 2</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let employee of employeesList">
                <td class="col-md-1">
                    {{ employee.id }}
                </td>
                <td class="col-md-3">
                    {{ employee.city }}
                </td>
                <td class="col-md-3">
                    {{ employee.recurring }}
                </td>
                <td class="col-md-3">
                    {{ employee.criticity }}
                </td>
                <td class="col-md-1">
                    <button (click)="showDialog = !showDialog" class="btn">Open</button>

                    <app-dialog [(visible)]="showDialog">
                    <h1>Hello World</h1>
                    <button (click)="showDialog = !showDialog" class="btn">Close</button>
                    </app-dialog>
                    <!--<button (click)="showDialog = !showDialog" class="btn btn-primary">Actions 1</button>-->
                </td>
                <td class="col-md-1">
                    <!--<button (click)="showDialog = !showDialog" class="btn btn-primary">Actions 2</button>-->
                    <button (click)="showDialog = !showDialog" class="btn">Open</button>

                    <app-dialog [(visible)]="showDialog">
                    <h1>Hello World</h1>
                    <button (click)="showDialog = !showDialog" class="btn">Close</button>
                    </app-dialog>
                </td>

                </tr>
            </tbody>
        </table>