
        <table class="table table-hover" id="myEmployee">
            <thead class="row">
                <tr>
                                    <th class="col-md-3">
                    Id (anonymized)
                </th>
                <th class="col-md-3">
                    Recurring
                </th>
                <th class="col-md-3">
                    Confidence rate
                </th>
                <th class="col-md-3">
                    Criticity
                </th>
                <th>Actions 1</th>
                </tr>
            </thead>
            <tbody >
                <tr class="update" *ngFor="let employee of employeesList" >
                <td class="col-md-1">
                    {{ employee.id }}
                </td>
                <td class="col-md-3">
                    {{ employee.city }}
                </td>
                <td class="col-md-3">
                    {{ employee.recurring }}
                </td>
                <td class="col-md-3">
                    {{ employee.criticity }}
                </td>
                <td class="col-md-2">
                    <button (click)="showDialog = !showDialog" class="btn">Send</button>

                    <app-dialog [(visible)]="showDialog">
                    <h1> Send to Doctor Labour </h1>
                    <button (click)="showDialog = !showDialog" class="btn">OK</button>
                    </app-dialog>
                </td>
                </tr>
            </tbody>
        </table>
