<div class="row">
    <div class="col-md-6">
        <div class="table table-condensed">
            <div class="row">
                <div class="col-md-3">
                    Id (anonymized)
                </div>
                <div class="col-md-3">
                    Recurring
                </div>
                <div class="col-md-3">
                    Confidence rate
                </div>
                <div class="col-md-3">
                    Criticity
                </div>
            </div>
            <div class="row" *ngFor="let employee of employeesList">
                <div class="col-md-3">
                    {{ employee.id }}
                </div>
                <div class="col-md-3">
                    {{ employee.city }}
                </div>
                <div class="col-md-3">
                    {{ employee.recurring }}
                </div>
                <div class="col-md-3">
                    {{ employee.criticity }}
                </div>
            </div>
        </div>
    </div>
</div>