<!--<emotion-detector></emotion-detector>-->

<div class="maindiv container">
    <div class="row top-buffer">
        <div><geography></geography></div>
    </div>
    <div class="row top-buffer">
        <div><departement-main></departement-main></div>
    </div>
    <div class="row top-buffer">
        <!--<div class="col-md-5">
            <building></building>
        </div>-->
        <div class="container-fluid .top .table-responsive">
            <employee></employee>
        </div>
    </div>
<div>
        <!-- FOOTER -->
    <div class="separator"></div>
    <footer class="footer">

    </footer>
