<!--<emotion-detector></emotion-detector>-->

<!--<hero-banner ></hero-banner>-->
<div class="maindiv container">
    <div class="row top-buffer">
        <div class="col-md-2"><global-appiness></global-appiness></div>
        <div class="col-md-7"><geography></geography></div>
        <div class="col-md-3"><departement-main></departement-main></div>
    </div>
    <div class="row top-buffer">
        <!--<div class="col-md-5">
            <building></building>
        </div>-->
        <div class="container-fluid .top .table-responsive">
            <employee></employee>
        </div>
    </div>
<div>