<!--<emotion-detector></emotion-detector>-->

<!--<hero-banner ></hero-banner>-->
<div class="maindiv container">
    <div class="row">
        <div class="col-md-4"><global-appiness></global-appiness></div>
        <div class="col-md-4"><geography></geography></div>
        <div class="col-md-4"><departement-main></departement-main></div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <building></building>
        </div>
        <div class="col-md-7">
            <employee></employee>
        </div>
    </div>
<div>